<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-top tabs-striped tabs-color-positive tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Planned" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/planned">
    <ion-nav-view name="tab-planned"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Closeby" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/closeby">
    <ion-nav-view name="tab-closeby"></ion-nav-view>
  </ion-tab>

 <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>
    
</ion-tabs>
